<body>
    {% extends 'landingpage/index.html' %}
    {% block content %}

    <h1>Welcome to Devs Section</h1>
    <br>
    <a href="/form_dev" class="btn btn-primary mb-2">ADD NEW DEVELOPER</a>
    <br>
    <h1>---   ---   ---   ---   ---</h1>

    <!-- <p>{{projects}}</p> -->
    {% for developer in developers %}
    <h2>Name: ☕ {{developer.name}} - 📆 Age: {{developer.age}}</h2>
    <h2> - 📋 Working in: {{developer.task}}</h2>
    {% if developer.imagen %}
    <img src="{{ developer.imagen.url }}" alt="" height="50px">
    {% endif %}
    <a href="{% url 'dev_confirm_delete' pk=developer.pk %}" class="btn btn-danger">Delete Dev</a>
    <a href="{% url 'update_devs' pk=developer.pk %}" class="btn btn-primary">Edit</a>
    <h2>-------------------------------------</h2>
    <br>

    {% endfor %}

    <br>
    
    {% endblock %}
</body>