{% extends 'landingpage/index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register/css/estiloregistro.css' %}">
<h1>FORM UPDATE DEVS</h1>
<br>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">DEVS Label: </label>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="card"> 
        <button type="submit" class="btn btn-light mb-2">Save DEV</button>
        </div>
    </div>
</form>
{% endblock %}