{% extends 'landingpage/index.html' %}
{% block content %}

<h1>Welcome to Task</h1>
<br>


<!-- Agregar un formulario de búsqueda -->
<nav class="">
<form method="get" action="{% url 'buscar_task' %}" class="form-inline">
    <input type="text" name="q" placeholder="SEARCH TASK" class="form-control mr-sm-2">
    <br>
    <input type="submit" value="Search" class="btn btn-light btn-mr">
    <a href="/form_task" class="btn btn-primary btn-mr">ADD NEW TASK</a>
</form>
</nav>

<br>
<br>

{% if query %}
    <!-- Muestra tareas filtradas cuando se realiza una búsqueda -->
    {% for tarea in tareas %}
        <div>
            <h2>
                {# nota: condicional de tareas#}
                {% if tarea.done == False %}🕛
                {% else %}🆗✅
                {% endif %}
                {{tarea.title}}
            </h2>
            <p>{{tarea.description}}</p>
            <p>Project: {{tarea.project.name}}</p>
            <p>Prioridad: {{tarea.priority}}</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'task-confirm_delete' pk=tarea.pk %}" class="btn btn-danger">Delete task</a>
                <a class="btn btn-primary btn-sm btn-light">✅ Done</a>
            </form>
        </div>
        <br>
    {% endfor %}
    {% if not tareas %}
        <p>No se encontraron tareas con ese nombre.</p>
    {% endif %}
{% else %}
    <!-- Muestra todas las tareas cuando no se realiza una búsqueda -->
    {% for tarea in tareas %}
        <div>
            <h2>
                {# nota: condicional de tareas#}
                {% if tarea.done == False %}🕛
                {% else %}🆗✅
                {% endif %}
                {{tarea.title}}
            </h2>
            <p class="card-text">{{tarea.description}}</p>
            <p class="card-title">Project: {{tarea.project.name}}</p>
            <p>Prioridad: {{tarea.priority}}</p>
            <form method="post" class="card">
                {% csrf_token %}
                <a href="{% url 'task-confirm_delete' pk=tarea.pk %}" class="btn btn-danger">Delete Task</a>
                <a href="{% url 'update_task' pk=tarea.pk %}" class="btn btn-primary">Edit</a>
            </form>
            
        </div>
        <br>
        <h1>---   ---   ---   ---   ---</h1>
    {% endfor %}
{% endif %}
{% endblock %}
