{% extends 'landingpage/index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register/css/estiloregistro.css' %}">
<h1>USERS PROFILE EDIT</h1>
<br>
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <!-- Acá está la magia de Django-->
    
    <table>

        {{ miFormulario }}

    </table>

    <input type="submit", value="Save">
    <br>
    <button type='button'>
        <a class="navbar-brand" href="{% url 'CambiarContrasenia' %}">Change Password</a>
    </button>
</form>  
{% endblock %}
