<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'landingpage/index.html' %}
    {% block content %}
    <h1>WELCOME TO ABOUT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perspiciatis vel maxime sequi sed magni maiores alias vitae unde dolorem. Facere, a impedit labore aspernatur laboriosam doloremque accusantium. A unde voluptates et reprehenderit, debitis, iusto error, ab rem aspernatur ut iure rerum nostrum velit assumenda quo laudantium quisquam animi consequatur voluptate. Necessitatibus earum at sit ad atque accusantium exercitationem iure dolor consequatur sequi aliquam in praesentium quasi, possimus sunt inventore culpa. Natus debitis odio praesentium laboriosam quam. Perferendis non perspiciatis expedita numquam ipsa vero fuga at obcaecati in tempora qui, veritatis porro harum ea iure assumenda. Sunt ipsum pariatur error?</p>
    <p>Website created by {{username}}</p>
    {% endblock content %}
</body>
</html>