<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'landingpage/index.html' %}
    {% block content %}
    <h1>WELCOME TO ABOUT</h1>
    <p>Soy Facundo Rodríguez, Uruguayo. Tengo 28 años y me estoy formando para ser desarrollador. Actualmente tengo conocimientos sobre HTML,CSS,JS,Boostrap,Python,Django y alguna idea general sobre SQL. Tome este curso pensando en pulir mis conocimientos. Respecto al proyecto, basicamente es pensado como un administrador de proyectos o algo similar a un CRM. Donde se puede gestionar facil un equipo de desarrolladores, asignarles tareas y proyectos. Me recuerda de alguna manera a apps del estilo Trello.  </p>
    <p>Website created by Facundo Rodríguez</p>
    {% endblock content %}
</body>
</html>