<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'landingpage/index.html' %}
    {% block content %}

    <h1>{{title}}</h1>
    <h2>PROYECTO - FACUNDO RODRIGUEZ</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci nam quidem praesentium consequuntur! Ullam cumque sed quas exercitationem adipisci quae aliquid, ipsa nihil sunt. Libero animi ipsa necessitatibus iure?</p>

    {% endblock %}
</body>
</html>