<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    {% extends 'landingpage/index.html' %}
    {% block content %}
    <h1>WELCOME TO CONTACT</h1>
    
    <br>
    <form class="card">
    <a href="https://w.app/s2vVnS" class="label label-success" style="display: inline-block; font-size: 2em; color: green !important; text-decoration: none; padding: 5px; transition: color 0.3s;" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'">
        Click Here!!! ✉
    </a>
    </form>
      
    {% endblock content %}
</body>
</html>